{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.js",
        "*.jsx"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "plugins": [
    "prettier-plugin-brace-style"
  ],
  "braceStyle": "allman"
}
