@import 'tailwindcss';
@config "../../tailwind.config.js";

.light {
    --text-50: #0c0c0e;
    --text-100: #17181c;
    --text-200: #2e3138;
    --text-300: #464953;
    --text-400: #5d616f;
    --text-500: #747a8b;
    --text-600: #9094a2;
    --text-700: #acafb9;
    --text-800: #c7cad1;
    --text-900: #e3e4e8;
    --text-950: #f1f2f3;

    --background-50: #0b0c0f;
    --background-100: #16181d;
    --background-200: #2c303a;
    --background-300: #424857;
    --background-400: #586074;
    --background-500: #6e7891;
    --background-600: #8b93a7;
    --background-700: #a8aebd;
    --background-800: #c5c9d3;
    --background-900: #e2e4e9;
    --background-950: #f0f1f4;

    --primary-50: #020918;
    --primary-100: #031230;
    --primary-200: #07245f;
    --primary-300: #0a368f;
    --primary-400: #0d48bf;
    --primary-500: #115bee;
    --primary-600: #407bf2;
    --primary-700: #709cf5;
    --primary-800: #a0bdf8;
    --primary-900: #cfdefc;
    --primary-950: #e7effd;

    --secondary-50: #080b12;
    --secondary-100: #0f1624;
    --secondary-200: #1e2c48;
    --secondary-300: #2d426c;
    --secondary-400: #3c5890;
    --secondary-500: #4b6eb4;
    --secondary-600: #6f8bc3;
    --secondary-700: #93a8d2;
    --secondary-800: #b7c5e1;
    --secondary-900: #dbe2f0;
    --secondary-950: #edf1f7;

    --accent-50: #040a16;
    --accent-100: #07132c;
    --accent-200: #0e2758;
    --accent-300: #153a84;
    --accent-400: #1d4eaf;
    --accent-500: #2461db;
    --accent-600: #5081e2;
    --accent-700: #7ba0ea;
    --accent-800: #a7c0f1;
    --accent-900: #d3dff8;
    --accent-950: #e9effb;
}

.dark {
    --text-50: #f1f2f3;
    --text-100: #e3e4e8;
    --text-200: #c7cad1;
    --text-300: #acafb9;
    --text-400: #9094a2;
    --text-500: #747a8b;
    --text-600: #5d616f;
    --text-700: #464953;
    --text-800: #2e3138;
    --text-900: #17181c;
    --text-950: #0c0c0e;

    --background-50: #f0f1f4;
    --background-100: #e2e4e9;
    --background-200: #c5c9d3;
    --background-300: #a8aebd;
    --background-400: #8b93a7;
    --background-500: #6e7891;
    --background-600: #586074;
    --background-700: #424857;
    --background-800: #2c303a;
    --background-900: #16181d;
    --background-950: #0b0c0f;

    --primary-50: #e7effd;
    --primary-100: #cfdefc;
    --primary-200: #a0bdf8;
    --primary-300: #709cf5;
    --primary-400: #407bf2;
    --primary-500: #115bee;
    --primary-600: #0d48bf;
    --primary-700: #0a368f;
    --primary-800: #07245f;
    --primary-900: #031230;
    --primary-950: #020918;

    --secondary-50: #edf1f7;
    --secondary-100: #dbe2f0;
    --secondary-200: #b7c5e1;
    --secondary-300: #93a8d2;
    --secondary-400: #6f8bc3;
    --secondary-500: #4b6eb4;
    --secondary-600: #3c5890;
    --secondary-700: #2d426c;
    --secondary-800: #1e2c48;
    --secondary-900: #0f1624;
    --secondary-950: #080b12;

    --accent-50: #e9effb;
    --accent-100: #d3dff8;
    --accent-200: #a7c0f1;
    --accent-300: #7ba0ea;
    --accent-400: #5081e2;
    --accent-500: #2461db;
    --accent-600: #1d4eaf;
    --accent-700: #153a84;
    --accent-800: #0e2758;
    --accent-900: #07132c;
    --accent-950: #040a16;
}

@layer utilities {
    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .app-region-drag {
        app-region: drag;
    }

    .app-region-nodrag {
        app-region: no-drag;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

* {
    color-scheme: dark;
}
